.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  min-height: 420px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  margin-bottom: 2.5rem;
  overflow: hidden;
}

.hero-content {
  background: rgba(11, 11, 15, 0.75);
  padding: 2.5rem;
  border-radius: 16px;
  text-align: center;
  color: #f4ede4;
  max-width: 500px;
}

.hero-content h2 {
  margin: 0 0 1.2rem;
  font-size: 2.3rem;
  font-weight: 700;
}


.cta {
  display: inline-block;
  background: #7b4ae2;
  padding: 12px 26px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta:hover {
  background: #5a2fd1;
}


.events,
.weather,
.spotlights {
  background: #0b0b0f;
  color: #f4ede4;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 16px;
  border: 1px solid #333;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

.events h2,
.weather h2,
.spotlights h2 {
  color: #7b4ae2;
  margin-top: 0;
  font-size: 1.6rem;
}


.events p,
.weather p {
  color: #f4ede4;
  line-height: 1.6;
}


#forecast {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

#forecast li {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.95rem;
}


#spotlight-cards {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.spotlight-card {
  background: #222;
  color: #f4ede4;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.spotlight-card:hover {
  transform: translateY(-6px);
}

.spotlight-card img {
  max-width: 130px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.spotlight-card h3 {
  margin-bottom: 0.5rem;
  color: #7b4ae2;
}


.spotlight-card a {
  color: #7b4ae2;
  font-weight: bold;
  text-decoration: none;
}

.spotlight-card a:hover {
  color: white;
  text-decoration: underline;
}


@media (min-width: 768px) {
  #spotlight-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 600px) {
  .hero {
    min-height: 260px;
  }

  .hero-content {
    width: 90%;
    padding: 5rem;
  }

  .hero-content h2 {
    font-size: 1.6rem;
  }
}
