@media (min-width: 768px) {

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    main {
        max-width: 1200px;
        margin: auto;
    }

    .about,
    .photo {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

    .photo img {
        max-width: 100%;
    }
}
