body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #14002D;
    color: #EAD9C6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #0B0B0F;
    color: #F4EDE4;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    padding: 1rem;
}

.header-content img {
    width: 40px;
}


#menu {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}

#menu::before {
    content: "☰";
    font-size: 1.5rem;
    color: white;
}

nav {
    display: none;
    flex-direction: column;
    background: #0B0B0F;
    text-align: center;
}

nav a {
    color: #F4EDE4;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background: #7B4AE2;
    color: #FFFFFF;
}

nav.show {
    display: flex;
}


main {
    padding: 1rem;
    flex: 1;
}

section {
    margin-bottom: 2rem;
}

h2 {
    background-color: #7B4AE2;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 4px;
}

.about p {
    background-color: #F4EDE4;
    color: #1A1A1A;
    padding: 1rem;
    border-radius: 6px;
}


.photo img {
    width: 200px;
    height: 200px;        
    object-fit: cover;    
    border-radius: 6px;
}


.filters button {
    margin: 0.25rem;
    background-color: #F4EDE4;
    color: #1A1A1A;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #7B4AE2;
    color: #FFFFFF;
}


.course {
    padding: 1rem;
    margin: 0.5rem 0;
    background: #F4EDE4;
    color: #1A1A1A;
    border-radius: 6px;
}

.course.completed {
    background: #D8C7F0;
    font-weight: 500;
}


footer {
    background: #0B0B0F;
    color: #F4EDE4;
    padding: 1rem;
    text-align: center;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    background: #F4EDE4;
    color: #1A1A1A;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}


#closeModal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
